@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.font-Raleway{
    font-family: "Raleway", sans-serif;
}
.btn-top{
 box-sizing: border-box;
border: 1px solid rgba(29, 209, 0, 0.4);
border-radius: 12px;
background: rgba(29, 209, 0, 0.1);
font-size: 20px;
font-weight: 700;
}
.see-btn{
box-sizing: border-box;
border: 1px solid rgb(29, 209, 0);
border-radius: 12px;
}
.border-top{
 
border-top: 2px solid rgb(29, 209, 0);
}

.bg-low {
    background-color: #F7F8F8;
    border-radius: 20px;
}

.bg-high {
    background-color: #0307121A;
    border-radius: 20px;
}

.bg-selected {
    background-color: #1DD100;
    border-radius: 20px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}




 
 